{{#if view.teaser}}
<p>{{view.teaser}}</p>
{{/if}}

{{#if view.loading}}
    <i class="fa fa-spin fa-spinner"></i>
{{/if}}

<ul>
    <li>{{i18n 'topics.title'}} <strong>{{digitGrouping view.statistics.topics}}</strong></li>
    <li>{{i18n 'replies'}} <strong>{{digitGrouping view.statistics.replies}}</strong></li>
    <li>{{i18n 'users'}} <strong>{{digitGrouping view.statistics.users}}</strong></li>
</ul>

<div class="sidebar-facebook-button">
  <a {{action "facebookButtonClicked" target=view}}>
    <i class='fa fa-facebook'></i>
    Folge uns bei Facebook
  </a>
</div>
